html, body, #container, #main {
    height: 100%;
}
#wysihtml5-toolbar {
}
#form-contents {
}
#header-image {
    margin-bottom: 20px;
}
#w5-textarea {
    height: 400px;
}
.wysiwyg-float-right {
    float: right;
    padding: 0 0 5px 10px;
}
.wysiwyg-float-left {
    float: right;
    padding: 0 10px 5px 0;
}
p {
    text-align: justify;
}

#footer {
    border-top: 1px solid #cfcfcf;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 20px;
}
