{% extends "normal.html" %}

{% block title %}Files{% endblock %}

{% block content %}
<form method="POST" action="/files/" class="dropzone" id="file-dropzone" enctype="multipart/form-data">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>

{% for file in files %}
<div class="row">
    <div class="small-2 columns">
    <img src="{{ url_for('media', filename=file.slug) }}" style="max-width: 120px">
</div>
    <div class="small-8 columns">
    <h2>{{ file.name}}</h2>
    <a href="{{ url_for('media', filename=file.slug) }}">{{ url_for('media', filename=file.slug) }}</a>
</div>
<div class="small-2 columns">
    <a class="button secondary small delete_file right" href="{{ url_for('files_delete', id=file.id) }}">{% trans %}Delete{% endtrans %}</a>
</div>
</div>
{% endfor %}
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    $(".delete_file").click(function (ev) {
        ev.preventDefault();
        var link = $(this);
        var url = link.attr("href");
        $.ajax({
            url: url,
            type: 'post'
        }).done(function (data) {
            if (data.status == true) {
                console.log(link.parent());
                link.parent().parent().fadeOut(500, function () {
                    $(this).remove();
                });
            }
        });
    });
});
</script>
{% endblock js %}

{% block js_files %}
<script src="{{ url_for('static', filename='js/vendor/dropzone.js') }}"></script>
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}" />
{% endblock %}
