{% extends "base.html" %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block main %}
<h1>{% trans %}Login{% endtrans %}</h1>

<p>{% trans %}Enter the site's owner email address to send a login link.{% endtrans %}</p>

<form method="POST">
    <div class="row">
        <div class="small-8 columns">
            <div class="row">
                <div class="small-3 columns">
                    <label for="email" class="right inline">{% trans %}Email address{% endtrans %}</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="email" name="email" placeholder="you@example.com">
                </div>
            </div>
            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit">{% trans %}Send login link{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
