{% extends "normal.html" %}

{% block title %}{% trans %}Site menu{% endtrans %}{% endblock %}

{% block context_menu %}
{% if g.site.domain == g.user %}
<li class="has-form">
<a class="button success" onclick="$('#primary-form').submit()">{% trans %}Save{% endtrans %}</a>
</li>
{% endif %}
{% endblock %}

{% block main %}
<h1>{% trans %}Site menu{% endtrans %}</h1>
<p>{% trans %}Here you control the contents of your menu. Rows with empty values will not get saved.{% endtrans %}</p>
<form method="POST" id="primary-form">
{% for menu_link in menu_links %}
<div class="row">
    <div class="small-12 columns">
        <h2>{% trans number=loop.index %}Menu element {{ number }}{% endtrans %}</h2>
    </div>
    <div class="small-6 columns">
        <label>{% trans %}Label{% endtrans %}</label>
        <input type="text" name="text" value="{{ menu_link.text }}">
    </div>
    <div class="small-6 columns">
        <label>{% trans %}Link{% endtrans %}</label>
        <input type="text" name="link" value="{{ menu_link.link }}">
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="small-12 columns">
        <h2>{% trans %}Fill in this entry if you need it{% endtrans %}</h2>
    </div>
    <div class="small-6 columns">
        <label>{% trans %}Label{% endtrans %}</label>
        <input type="text" name="text" value="">
    </div>
    <div class="small-6 columns">
        <label>{% trans %}Link{% endtrans %}</label>
        <input type="text" name="link" value="">
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <button type="submit" class="success">{% trans %}Save{% endtrans %}</button>
    </div>
</div>
</form>

{% endblock %}
