{% extends "base.html" %}

{% block main %}
{% if g.site.header_image %}
<div id="header">
    <p>{{ g.site.name }}</p>
</div>
{% endif %}

{% if "menu" in g.site.active_modules %}
<nav class="top-bar" id="site-top-bar">
    <ul class="title-area">
        <li class="name">
        <h1><a href="/">{{ g.site.name }}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            {% for menu_link in g.site.menu_links %}
            <li><a href="{{ menu_link.link }}">{{ menu_link.text }}</a></li>
            {% endfor %}
        </ul>
    </section>
</nav>
{% endif %}

{% block content %}
{% endblock %}
{% if "username" not in session %}
<a href="{{ url_for('login') }}" id="admin-button" class="button secondary tiny">{% trans %}Admin{% endtrans %}</a>
{% endif %}
<ul id="footer" class="small-block-grid-{{ g.site.footers|length}}">
    {% for footer in g.site.footers %}
    <li>{{ footer|safe }}</li>
    {% endfor %}
</ul>
{% endblock main %}
