{% extends "normal.html" %}

{% block title %}{% trans %}All pages{% endtrans %}{% endblock %}

{% block main %}
<h1>{% trans %}New page{% endtrans %}</h1>
<form method="POST">
    <div class="row">
        <div class="small-8 columns">
            <div class="row">
                <div class="small-3 columns">
                    <label for="name" class="right inline">{% trans %}Short title{% endtrans %}</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="name" name="name">
                </div>
            </div>
            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<h1>{% trans %}All pages{% endtrans %}</h1>
<table>
    {% for page in pages %}
    <tr>
        <td><a href="{{ url_for('.page', slug=page.slug) }}">{{ page.name }}</a></td>
        <td>{{ page.created }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
