{% extends "base.html" %}

{% block title %}All sites{% endblock %}

{% block main %}
<h1>New site</h1>
<form method="POST">
    
    <div class="row">
        <div class="small-8 columns">
            <div class="row">
                <div class="small-3 columns">
                    <label for="domain" class="right inline">Domain name</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="domain" name="domain" placeholder="example.com">
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="name" class="right inline">Site name</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="name" name="name" placeholder="My fantastic new site">
                </div>
            </div>
            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<h1>All sites</h1>
<table>
    {% for site in sites %}
    <tr>
        <td>{{ site.name }}</td>
        <td><a href="//{{ site.domain }}
        {%- if root_domain -%}
        .{{ root_domain }}
        {%- endif -%}
        {%- if port -%}
        :{{ port }}
        {%- endif -%}
        ">{{ site.domain }}</a></td>
        <td>{{ site.created }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
