{% extends "base.html" %}

{% block title %}{% trans %}All sites{% endtrans %}{% endblock %}

{% block main %}
<h1>{% trans %}New site{% endtrans %}</h1>
<form method="POST">
    <div class="row">
        <div class="small-8 columns">
            <div class="row">
                <div class="small-3 columns">
                    <label for="domain" class="right inline">{% trans %}Domain name{% endtrans %}</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="domain" name="domain" placeholder="example.com">
                </div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="name" class="right inline">{% trans %}Site name{% endtrans %}</label>
                </div>
                <div class="small-9 columns">
                    <input type="text" id="name" name="name" placeholder="{% trans %}My fantastic new site{% endtrans %}">
                </div>
            </div>
            <div class="row">
                <div class="small-9 small-offset-3 columns">
                    <button type="submit">{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</form>

<h1>{% trans %}Site list{% endtrans %}</h1>
<table>
    {% for site in sites %}
    <tr>
        <td>{{ site.name }}</td>
        <td><a href="//{{ site.domain }}
        {%- if root_domain -%}
        .{{ root_domain }}
        {%- endif -%}
        {%- if port -%}
        :{{ port }}
        {%- endif -%}
        ">{{ site.domain }}</a></td>
<td>
    {% if site.verified_email %}
    {% trans %}Verified{% endtrans %}
    {% else %}
    {% trans %}Not verified{% endtrans %}
    {% endif %}
</td>
        <td>{{ site.created }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
